/*Images and Animation*/

/*Front Leaf Left*/

.sleft {
	left: -15px;
    -moz-animation: 3s ease 0s normal none infinite swing;
    -moz-transform-origin: bottom left;
    -webkit-animation:swing 3s infinite ease-in-out;
    -webkit-transform-origin:bottom left;
}
@-moz-keyframes swing{
    0%{-moz-transform:rotate(-1deg)}
    50%{-moz-transform:rotate(-1deg)}
    100%{-moz-transform:rotate(-1deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-1deg)}
    50%{-webkit-transform:rotate(1deg)}
    100%{-webkit-transform:rotate(-1deg)}
}

/*Left Leaf Fan*/

.slefft {
	left: -15px;
    -moz-animation: 3s ease 0s normal none infinite swing;
    -moz-transform-origin: bottom left;
    -webkit-animation:swing 5s infinite ease-in-out;
    -webkit-transform-origin:bottom left;
}
@-moz-keyframes swing{
    0%{-moz-transform:rotate(-1deg)}
    50%{-moz-transform:rotate(-1deg)}
    100%{-moz-transform:rotate(-1deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-1deg)}
    50%{-webkit-transform:rotate(1deg)}
    100%{-webkit-transform:rotate(-1deg)}
}

/*Front Leaf Right Mid*/


.sright {
	right: -15px;
    -moz-animation: 3s ease 0s normal none infinite swing;
    -moz-transform-origin: top right;
    -webkit-animation:swing 3s infinite ease-in-out;
    -webkit-transform-origin:right;
}
@-moz-keyframes swing{
    0%{-moz-transform:rotate(-1deg)}
    50%{-moz-transform:rotate(1deg)}
    100%{-moz-transform:rotate(-1deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-1deg)}
    50%{-webkit-transform:rotate(1deg)}
    100%{-webkit-transform:rotate(-1deg)}
}

/*Front Leaf Right Mid Upper */

.srightt {
	right: -15px;
    -moz-animation: 3s ease 0s normal none infinite swing;
    -moz-transform-origin: bottom right;
    -webkit-animation:swing 6s infinite ease-in-out;
    -webkit-transform-origin: bottom right;
}
@-moz-keyframes swing{
    0%{-moz-transform:rotate(-1deg)}
    50%{-moz-transform:rotate(1deg)}
    100%{-moz-transform:rotate(-1deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-1deg)}
    50%{-webkit-transform:rotate(1deg)}
    100%{-webkit-transform:rotate(-1deg)}
}

/*Image Stacking*/

#imga
{
z-index: 70;
}

#imgb
{
z-index: 60;
}

#imgc
{
z-index: 50;
}

#imgd
{
z-index: 40;
}

#imge
{
z-index: 30;
}

#imgf
{
z-index: 20;
}

#imgg
{
z-index: 10;
}

/*Header And Alignment*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.bg {
	background-color: #00BD77;
	height: 769px;
	width: 100%;
	top: 0px;
	position: absolute;
}

.left img{
  position: absolute;
  top: 0px;
  left: -10px;
}

.right img{
  position: absolute;
  top: 0px;
  right: -10px;
}

/*Poem Body*/

#by {
	color: #396B58;
}

.poem {
	margin: auto;
	/*padding-top: 869px;*/
	margin-top: 70%;
	padding-bottom: 100px;
	max-width: 40%;
	text-align: center;
}

.poem h1, h4, p {
	color: #003622;
	font-family: sans-serif;
	overflow: auto;
}

#bold {
	font-weight: bold;

}

#italic {
	font-style: italic;
	color: #4c7264;
}

#bolditalic {
	font-weight: bold;
	font-style: italic;
	color: #4c7264;
}

.poem p {
	text-align: left;
	white-space: pre;
	margin-top: 0px;
	margin-bottom: 0px;
}

.hidden {
	opacity: 0;
}

/*Footer*/

nav {
	padding-bottom: 20px;
}

ul {
	list-style: none;
	text-align: center;
}

li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

a {
	text-decoration: none;
	font-family: sans-serif;
	color: #7aa696;
	font-size: 0.9em;
}

a:hover {
	color: #19a571;
	font-style: italic;
}

/*Mobile*/

/*.bg-mobile {
	height: 500px;
	width: 100%;
	top: 0px;
	position: absolute;
}*/

/*Screen Sizing*/

/*//medium+ screen sizes*/

/*@media all and (min-width: 900px) {
    .desktop {display:block;}
    .mobile {display:none;}
}

@media all and (max-width: 899px) {
    .desktop {display:none;}
    .mobile {display:block;}
}*/

@media screen and (max-width: 600px) {
	.poem {
		padding-top: 1000px;
	}
}